codegen/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ================= SETTINGS (client-only, not persisted to SPIFFS) ================= -->
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- ── header (UI-only controls, not persisted to Settings.xml) ── -->
              <xs:element name="header" minOccurs="0">
                <xs:complexType><xs:sequence>
                  <xs:element name="Download_a_Copy" type="xs:boolean" default="true"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── general (WiFi credentials + pool sizes) ── -->
              <xs:element name="general">
                <xs:complexType><xs:sequence>
                  <xs:element name="SSID"            type="xs:string"/>
                  <xs:element name="Password"        type="xs:string"/>
                  <xs:element name="Class_Pool_Size" type="xs:integer"/>
                  <xs:element name="Var_Pool_Size"   type="xs:integer"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── mqtt ── -->
              <xs:element name="mqtt">
                <xs:complexType><xs:sequence>
                  <xs:element name="Host"          type="xs:string"/>
                  <xs:element name="Port"          type="xs:integer"/>
                  <xs:element name="Data_Topic"    type="xs:string"/>
                  <xs:element name="Alert_Topic"   type="xs:string"/>
                  <xs:element name="Username"      type="xs:string"/>
                  <xs:element name="Mqtt_Password" type="xs:string"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── json includes ── -->
              <xs:element name="json">
                <xs:complexType><xs:sequence>
                  <xs:element name="Metadata"    type="xs:boolean" default="true"/>
                  <xs:element name="Constraints" type="xs:boolean" default="true"/>
                  <xs:element name="Modbus"      type="xs:boolean" default="true"/>
                </xs:sequence></xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ================= TOP TABLE ================= -->
  <xs:element name="Variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- ── description ── -->
              <xs:element name="description">
                <xs:complexType><xs:sequence>
                  <xs:element name="Class" type="xs:string"/>
                  <xs:element name="Name"  type="xs:string"/>
                  <xs:element name="Type"  type="xs:string"/>
                  <xs:element name="Value" type="xs:float"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── constraints ── -->
              <xs:element name="constraints">
                <xs:complexType><xs:sequence>
                  <xs:element name="Operation_ID" type="xs:float"/>
                  <xs:element name="Threshold"    type="xs:float"/>
                  <xs:element name="Fault_Code"   type="xs:float"/>
                  <xs:element name="Increment"    type="xs:float"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── modbus ── -->
              <xs:element name="modbus">
                <xs:complexType><xs:sequence>
                  <xs:element name="Slave_ID"      type="xs:float"/>
                  <xs:element name="Function_ID"   type="xs:float"/>
                  <xs:element name="Start_Address" type="xs:float"/>
                  <xs:element name="Data_Length"   type="xs:float"/>
                </xs:sequence></xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ================= BOTTOM TABLE ================= -->
  <xs:element name="Metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Class"   type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="Key"     type="xs:float"  minOccurs="1" maxOccurs="1"/>
              <xs:element name="Message" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ================= CONTROLS ================= -->
  <xs:element name="Controls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- ── validation ── -->
              <xs:element name="validation">
                <xs:complexType><xs:sequence>
                  <xs:element name="Name" type="xs:string"/>
                  <xs:element name="Type" type="xs:string"/>
                </xs:sequence></xs:complexType>
              </xs:element>

              <!-- ── verification ── -->
              <xs:element name="verification">
                <xs:complexType><xs:sequence>
                  <xs:element name="Value"        type="xs:string"/>
                  <xs:element name="Fault_Code"   type="xs:string"/>
                  <xs:element name="Operation_ID" type="xs:string"/>
                </xs:sequence></xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
